
Art 
Build
VoxelCombat/Assets/Build.meta

Library
Server/VoxelCombatServerApp/packages


Server/VoxelCombatServerApp/VoxelCombatServer/bin

Server/VoxelCombatServerApp/VoxelCombatServer/obj

Server/VoxelCombatServerApp/VoxelCombatServerApp/bin

Server/VoxelCombatServerApp/VoxelCombatServerApp/obj

Server/VoxelCombatServerApp/VoxelCombatServerApp/logs


Server/VoxelCombatServerApp/VoxelCombatServerApp/logs/log.txt


Server/VoxelCombatServerApp/.vs/VoxelCombatServerApp/v14/.suo


Server/VoxelCombatServerApp/.vs/VoxelCombatServerApp/v14/.suo


Server/VoxelCombatServerApp/VoxelCombatServerApp/logs/log.txt


Temp/
Assets/StreamingAssets/

Server/VoxelCombatServerApp/.vs/VoxelCombatServerApp/v14/.suo
.vs/VoxelCombat/v14/.suo
Assets/InControl/Source/VersionInfo.cs
Server/VoxelCombatServerApp/VoxelCombatServerApp/logs/log.txt
Server/VoxelCombatServerApp/VoxelCombatServerApp/App_Data/VoxelCombat.mdf
Server/VoxelCombatServerApp/VoxelCombatServerApp/App_Data/VoxelCombat_log.ldf
Assets/InitTestScene636633039118286795.unity
Assets/InitTestScene636633039118286795.unity.meta
Assets/InitTestScene636633047531261547.unity
Assets/InitTestScene636633047531261547.unity.meta
.vs/VoxelCombat/v15/Server/sqlite3/storage.ide-wal
.vs/VoxelCombat/v15/Server/sqlite3/storage.ide-shm
.vs/VoxelCombat/v15/Server/sqlite3/storage.ide
.vs/VoxelCombat/v15/Server/sqlite3/db.lock
.vs/VoxelCombat/v15/.suo
.vs/VoxelCombat/DesignTimeBuild/.dtbcache
obj/Debug/Assembly-CSharp-Editor.csproj.CoreCompileInputs.cache
obj/Debug/Assembly-CSharp-Editor.csprojAssemblyReference.cache
obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
obj/Debug/Assembly-CSharp.pdb
obj/Debug/Assembly-CSharp.dll
obj/Debug/Assembly-CSharp.csproj.FileListAbsolute.txt
obj/Debug/Assembly-CSharp.csproj.CopyComplete
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Server/VoxelCombatServerApp/.vs/VoxelCombatServerApp/v15/.suo
Server/VoxelCombatServerApp/.vs/VoxelCombatServerApp/DesignTimeBuild/.dtbcache
Server/VoxelCombatServerApp/.vs/VoxelCombatServerApp/v15/Server/sqlite3/db.lock
Server/VoxelCombatServerApp/.vs/VoxelCombatServerApp/v15/Server/sqlite3/storage.ide
Server/VoxelCombatServerApp/.vs/VoxelCombatServerApp/v15/Server/sqlite3/storage.ide-shm
Server/VoxelCombatServerApp/.vs/VoxelCombatServerApp/v15/Server/sqlite3/storage.ide-wal
obj/Debug/build.force
