
Art 
Build
VoxelCombat/Assets/Build.meta

Library
Server/VoxelCombatServerApp/packages


Server/VoxelCombatServerApp/VoxelCombatServer/bin

Server/VoxelCombatServerApp/VoxelCombatServer/obj

Server/VoxelCombatServerApp/VoxelCombatServerApp/bin

Server/VoxelCombatServerApp/VoxelCombatServerApp/obj

Server/VoxelCombatServerApp/VoxelCombatServerApp/logs


Server/VoxelCombatServerApp/VoxelCombatServerApp/logs/log.txt


Server/VoxelCombatServerApp/.vs/VoxelCombatServerApp/v14/.suo


Server/VoxelCombatServerApp/.vs/VoxelCombatServerApp/v14/.suo


Server/VoxelCombatServerApp/VoxelCombatServerApp/logs/log.txt


Temp/
Assets/StreamingAssets/

Server/VoxelCombatServerApp/.vs/VoxelCombatServerApp/v14/.suo
.vs/VoxelCombat/v14/.suo
Assets/InControl/Source/VersionInfo.cs
Server/VoxelCombatServerApp/VoxelCombatServerApp/logs/log.txt
